version: "3.8"

services:
  db:
    image: postgres:15
    container_name: backendprofessional_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: backend
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d backend"]
      interval: 5s
      timeout: 5s
      retries: 10

volumes:
  pgdata: